# Placeholder para: .gitignore
.venv/
service/.env
__pycache__/
*.pyc
.DS_Store
build/
dist/
*.egg-info/
terraform/.terraform/
terraform/terraform.tfstate*
terraform/tfplan.out
terraform/.terraform.lock.hcl
.vscode/

.gitignore

terraform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/windows_386/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/windows_386/terraform-provider-google_v5.45.2_x5.exe
tools/scripts/__pycache__/f02_manage_gcp_environment.cpython-312.pyc
tools/scripts/__pycache__/utils_general.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s00_main_initial_setup.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s01_create_structure.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s02_create_venv.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s03_setup_github_repo.cpython-312.pyc
tools/scripts/f03_terraform_management/__pycache__/__init__.cpython-312.pyc
tools/scripts/f03_terraform_management/__pycache__/tf_apply.cpython-312.pyc
tools/scripts/f03_terraform_management/__pycache__/tf_init_validate.cpython-312.pyc
tools/scripts/f03_terraform_management/__pycache__/tf_plan.cpython-312.pyc
tools/scripts/f04_gcp_setup/__pycache__/__init__.cpython-312.pyc
tools/scripts/f04_gcp_setup/__pycache__/s00_main_gcp_config.cpython-312.pyc
tools/scripts/f04_gcp_setup/__pycache__/s01_configure_sa_permissions.cpython-312.pyc
tools/scripts/f04_gcp_setup/__pycache__/s02_manage_secrets.cpython-312.pyc
tools/scripts/f04_gcp_setup/__pycache__/s03_configure_workload_identity.cpython-312.pyc
tools/scripts/f04_gcp_setup/__pycache__/utils_gcp.cpython-312.pyc
tools/scripts/f05_data/__pycache__/__init__.cpython-312.pyc
tools/scripts/__pycache__/utils_general.cpython-312.pyc
tools/scripts/__pycache__/utils_general.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s00_main_initial_setup.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s01_create_structure.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s02_create_venv.cpython-312.pyc
tools/scripts/f00_files_setup/__pycache__/s03_setup_github_repo.cpython-312.pyc

